<div class="contents row">
<div id="randomMove2"></div>
  <%= render @tweets %>
  <%= paginate(@tweets) %>
</div>
<img class="TrakkingAdd" src="https://kabuyaruo0241.com/wp-content/uploads/2018/03/54d363afee1cc7ec6f21390fba59744e-13.jpg">
</img>
